/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('components/AbuZhang\ menu\ background.png');
}

#root {
  display: flex;
  flex-direction: column;
}
